<div class="col-md-12">
  <h4 class="bold-title">My cart</h4>
  <hr class="separator-section">
</div>
<div class="row">
  <table style="margin-bottom: 60px;" class="table table-striped table-hover">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    <% @products.each do |product| %>
    <tr>
      <td data-th="Name: "><%= product.name %></td>
      <td data-th="Price: "><%= product.price %></td>
      <td data-th="Actions: ">
        <%= link_to(product_path(product.id)) do %>
          <i class="fa fa-times-circle"  style="color:red" aria-hidden="true"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>

  <% if @products.empty? %>
    <div class="row">
      <span>
        <h4 class="text-center">No products in cart<br>
      </span>
    </div>
  <% end %>
</div>

