
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container">
    <div class="card auth-card card-container">
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <form class="form-signin">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', id: 'input-email', required: true, placeholder: 'Email' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', id: 'input-password', required: true, placeholder: 'password' %>
        <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block btn-signin" %>
      </form>
    </div>
  </div>
<% end %>